@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GrandSlang";
  src: url("/fonts/GrandSlang.otf");
}

@font-face {
  font-family: "Suisse";
  src: url("/fonts/Suisse.otf");
}
